<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- <= 30 + Xiaomi/MIUI -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:targetApi="s"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:targetApi="s"/>

    <!-- >= API 31 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />


    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- mipmap/ic_launcher created with Android Studio -> New -> Image Asset using @color/colorPrimaryDark as background color -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_short"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:screenOrientation="sensorLandscape"
            android:name=".ActivityMain"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ble.BLEserialService"
            android:foregroundServiceType="connectedDevice|dataSync"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".classic.CLserialService"
            android:foregroundServiceType="remoteMessaging|connectedDevice" />
    </application>

</manifest>
